# Indicadores de gerencia

In [247]:
import os 
import pandas as pd
from datetime import datetime, timedelta

#### Indicadores de vehículos
Para ello, debe importar los datos de la báscula de todo el mes

In [248]:
#Carga de datos de báscula de todo el mes
data = pd.read_excel(r"C:\Users\HP\Documents\Manuel_Angulo\Python\reportMovBascEx (1).xls", header=2)
data.head(5)

,Numero Tiquete,Fecha,Hora,Peso Kg,Fecha.1,Hora.1,Peso Kg.1,Peso Neto,Placa,Compañia,Cedula,Unnamed: 11,Conductor,Producto,Documento,Contenedor,Observaciones,Eje,Bascula Ingreso,Bascula Repeso
0,372017,2024-06-04,1970-01-01 09:08:48,5670,2024-06-04,1970-01-01 11:44:03,3930,1740,SNX160,IMPALA COLOMBIA SAS,1007588466,NaN,ESTEBAN MEJIA,PROVISIONES,9022,FURGON,NaN,6C2,BASCULA MAMONAL ZOFRANCA S.A. ENTRADA,BASCULA MAMONAL ZOFRANCA S.A. ENTRADA
1,372028,2024-06-04,1970-01-01 09:40:17,2170,2024-06-04,1970-01-01 15:14:03,2090,80,LJL439,IMPALA COLOMBIA SAS,78025156,NaN,JHONNY HERNANDEZ,OTROS MATERIALES,9028,CARGA SUELTA,PANTALLAS --IMPRESORA ---SOPORTE,1C2,BASCULA MAMONAL ZOFRANCA S.A. ENTRADA,BASCULA MAMONAL ZOFRANCA S.A. ENTRADA
2,372030,2024-06-04,1970-01-01 15:15:12,2090,2024-06-04,1970-01-01 15:18:21,2120,30,LJL439,IMPALA COLOMBIA SAS,78025156,NaN,JHONNY HERNANDEZ,OTROS MATERIALES,9049,PARTICULAR,IMPRESORA Y TONER,1C2,BASCULA MAMONAL ZOFRANCA S.A. ENTRADA,BASCULA MAMONAL ZOFRANCA S.A. ENTRADA
3,372039,2024-06-04,1970-01-01 16:21:35,1820,2024-06-04,1970-01-01 16:50:50,1700,120,BPO047,ORION MARINE GROUP SAS,73084289,NaN,ADALBERTO JIMENEZ,PIMPINAS DIESEL,9053,PARTICULAR,CANTIDAD 6 PIMPINAS,1C2,BASCULA MAMONAL ZOFRANCA S.A. ENTRADA,BASCULA MAMONAL ZOFRANCA S.A. ENTRADA
4,372044,2024-06-04,1970-01-01 14:22:00,51780,2024-06-04,1970-01-01 17:45:58,18220,33560,LPK628,C.I CARIBBEAN WORLD TRADE S.A.S,1092346619,NaN,LUIS ALEJANDRO BARRERA JAIMES,FUEL OIL,126530,CARROTANQUE,000126530,3S3,BASCULA MAMONAL ZOFRANCA S.A. ENTRADA,BASCULA MAMONAL ZOFRANCA S.A. ENTRADA

Revisar categorias por errores de digitación

In [249]:
#Tipos de contenedores / primer filtro a realizar del archivo mensual
categorias = data["Contenedor"].value_counts()
categorias

Contenedor
PARTICULAR      3
CARGA SUELTA    2
FURGON          1
CARROTANQUE     1
VOLQUETA        1
CARPADO         1
Name: count, dtype: int64

In [250]:
grupos_validos = {"CAROTANQUE", "CARROTAANQUE", "CARROTANQUE", "CARROTANQUEA", "CARROTANQUES", "CARRTANQUE", "CTK", "CTKS", "CARGA SUELTA"}
ctks = data[data["Contenedor"].isin(grupos_validos) & (data["Peso Neto"]>= 25000)]

REVISIONES DIARIAS

In [251]:
revision_diaria = ctks.groupby("Compañia")["Peso Neto"].sum()
revision_diaria

Compañia
C.I CARIBBEAN WORLD TRADE S.A.S    33560
Name: Peso Neto, dtype: int64

In [252]:
ctks["intervalo_horario"] = ctks["Hora"].apply(lambda x: x.hour*3600 + x.minute*60 + x.second)
intervalo_horas = pd.interval_range(start=0, end=86400, periods= 24, closed="left")

C:\Users\HP\AppData\Local\Temp\ipykernel_27236\480131623.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ctks["intervalo_horario"] = ctks["Hora"].apply(lambda x: x.hour*3600 + x.minute*60 + x.second)

In [253]:
ctks["rango_horas"] = pd.cut(ctks["intervalo_horario"],bins=intervalo_horas)

C:\Users\HP\AppData\Local\Temp\ipykernel_27236\3270646971.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ctks["rango_horas"] = pd.cut(ctks["intervalo_horario"],bins=intervalo_horas)

In [254]:
tabla_1 = ctks.groupby("rango_horas")["Placa"].count().reset_index()
print(tabla_1)

       rango_horas  Placa
0        [0, 3600)      0
1     [3600, 7200)      0
2    [7200, 10800)      0
3   [10800, 14400)      0
4   [14400, 18000)      0
5   [18000, 21600)      0
6   [21600, 25200)      0
7   [25200, 28800)      0
8   [28800, 32400)      0
9   [32400, 36000)      0
10  [36000, 39600)      0
11  [39600, 43200)      0
12  [43200, 46800)      0
13  [46800, 50400)      0
14  [50400, 54000)      1
15  [54000, 57600)      0
16  [57600, 61200)      0
17  [61200, 64800)      0
18  [64800, 68400)      0
19  [68400, 72000)      0
20  [72000, 75600)      0
21  [75600, 79200)      0
22  [79200, 82800)      0
23  [82800, 86400)      0

C:\Users\HP\AppData\Local\Temp\ipykernel_27236\3082195944.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  tabla_1 = ctks.groupby("rango_horas")["Placa"].count().reset_index()

In [255]:
tabla_2 = ctks.groupby("Fecha")["Placa"].count().reset_index()
tabla_2

       Fecha  Placa
0 2024-06-04      1

In [256]:
tabla_2["Placa"].sum()

1

In [257]:
ctks["dia_semana"] = ctks["Fecha"].dt.day_of_week
tabla_3 = ctks.groupby("dia_semana")["Placa"].count().reset_index()
tabla_3

C:\Users\HP\AppData\Local\Temp\ipykernel_27236\3774768454.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ctks["dia_semana"] = ctks["Fecha"].dt.day_of_week

   dia_semana  Placa
0           1      1

#### Indicadores de Almacenamiento
Se carga el resumen de operaciones para revisar el almacenamiento

In [258]:
data_rop = pd.read_excel(r"C:\Users\HP\OneDrive - ZONA FRANCA INDUSTRIAL DE BIENES SERV DE CARTAGENA\Sociedad Portuaria del Dique\Trabajo en nube\Manuel Angulo\00_TablaBase_Operaciones_1.xlsx", header=3)
data_rop.head(3)

c:\Python\Lib\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

,FECHA INICIAL,FECHA FINAL,HORA DE INICIO,H SUSP,H REANU,HORA FINAL,STAND BY,TIEMPO DE OPERACIÓN [HRS],TASA DE BOMBEO SIN STANDBY,TASA DE BOMBEO REAL,...,EQUIPO DE BOMBEO,HORAS HOMBRE USADAS,Numero de operadores,OPERADOR 1,OPERADOR 2,OPERADOR 3,OPERADOR 4,OPERADOR 5,SELLOS ANTIGUOS,SELLOS NUEVOS
0,2022-05-24,2022-05-24 00:00:00,NaN,NaN,NaN,NaN,86,1.433333,0.0,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022-05-24,2022-05-24 00:00:00,NaN,NaN,NaN,NaN,10,0.166667,0.0,0.000000,...,NaN,0.166667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022-05-24,2022-05-24 00:00:00,NaN,NaN,NaN,NaN,235,3.916667,0.0,94.215319,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Como se cargaron los datos

In [259]:
data_rop.dtypes

FECHA INICIAL                     datetime64[ns]
FECHA FINAL                               object
HORA DE INICIO                            object
H SUSP                                    object
H REANU                                   object
HORA FINAL                                object
STAND BY                                  object
TIEMPO DE OPERACIÓN [HRS]                 object
TASA DE BOMBEO SIN STANDBY               float64
TASA DE BOMBEO REAL                      float64
PRODUCTO (Guías)                          object
API                                       object
VOLUMEN [GAL]                             object
VOLUMEN [BBLS] (Guías) / T. OP            object
VOLUMEN [BBLS] (Aforo)                    object
PESO [kg] (Bascula)                       object
PESO [TON]                               float64
CLIENTE                                   object
TIPO DE OPERACIÓN [E/S/N]                 object
TIPO DE OPERACIÓN DE TRASIEGO             object
PLACAS                                    object
NO VEHICULOS                             float64
DESDE                                     object
HACIA                                     object
VOLUMEN CONSUMIDO PD [GAL]                object
EFICIENCIA [TON/GAL]                     float64
EQUIPO DE BOMBEO                         float64
HORAS HOMBRE USADAS                      float64
Numero de operadores                     float64
OPERADOR 1                                object
OPERADOR 2                                object
OPERADOR 3                                object
OPERADOR 4                                object
OPERADOR 5                                object
SELLOS ANTIGUOS                           object
SELLOS NUEVOS                             object
dtype: object

Se filtra el mes y año de todo la base de datos de operaciones

In [260]:
res_op_mens = data_rop[(data_rop["FECHA INICIAL"].dt.year == 2024) & (data_rop["FECHA INICIAL"].dt.month == 5)]

In [261]:
#Tipos de operaciones
res_op_mens["TIPO DE OPERACIÓN DE TRASIEGO"].value_counts()

TIPO DE OPERACIÓN DE TRASIEGO
CTK - TK       51
CTK - BCZA     44
TK - BCZA      31
BCZA -RR       21
BCZA - BCZA     9
BCZA - TK       9
BBLS - RR       4
TK - TK         2
RR - CTK        1
CTK - RR        1
Name: count, dtype: int64

In [262]:
res_op_mens["TIPO DE OPERACIÓN DE TRASIEGO"] = res_op_mens["TIPO DE OPERACIÓN DE TRASIEGO"].str.strip()

C:\Users\HP\AppData\Local\Temp\ipykernel_27236\1120563163.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  res_op_mens["TIPO DE OPERACIÓN DE TRASIEGO"] = res_op_mens["TIPO DE OPERACIÓN DE TRASIEGO"].str.strip()

# INVENTARIO

In [263]:
#Movimiento en los tanques 
#Se filtran las operaciones que tiene que ver con tanques de acuerdo a las categorias anteriores
op_tks = {"CTK - TK", "TK - BCZA", "BCZA - TK", "TK - TK"}
alma = res_op_mens[res_op_mens["TIPO DE OPERACIÓN DE TRASIEGO"].isin(op_tks)]
report_alma = alma.groupby(["TIPO DE OPERACIÓN [E/S/N]","DESDE", "HACIA"])["VOLUMEN [BBLS] (Aforo) "].sum()

In [264]:
# Crear un DataFrame vacío con las filas 'TK101' a 'TK108' y columnas 'E', 'S'
tanques = ['TK101', 'TK102', 'TK103', 'TK104', 'TK105', 'TK106', 'TK107', 'TK108']
columnas = ['E', 'S']
df = pd.DataFrame(index=tanques, columns=columnas)
df = df.fillna(0)

# Iterar sobre los datos agrupados y llenar el DataFrame
for (tipo, desde, hacia), valor in report_alma.items():
    if tipo == 'E':
        df.at[hacia, 'E'] += valor
    elif tipo == 'S':
        df.at[desde, 'S'] += valor
    elif tipo == 'N':
        df.at[hacia, 'E'] += valor
        df.at[desde, 'S'] += valor

print(df)

              E         S
TK101  14255.98  12788.09
TK102  26265.02  26791.12
TK103  19817.96  19046.58
TK104   4864.50   4827.53
TK105   2296.08   2098.54
TK106   9306.62   5666.58
TK107      0.00      0.00
TK108   9856.59   7632.13

C:\Users\HP\AppData\Local\Temp\ipykernel_27236\3658246072.py:5: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.fillna(0)
C:\Users\HP\AppData\Local\Temp\ipykernel_27236\3658246072.py:10: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '9856.589999999997' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[hacia, 'E'] += valor
C:\Users\HP\AppData\Local\Temp\ipykernel_27236\3658246072.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '872.549999999999' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[desde, 'S'] += valor

# INFORME SICOM

In [265]:
alma_bbls = alma
alma_bbls["VOLUMEN [BBLS] (Aforo) "] = alma_bbls["VOLUMEN [BBLS] (Aforo) "].apply(lambda x: x*42)
report_sicom = alma_bbls.groupby(["TIPO DE OPERACIÓN [E/S/N]","DESDE", "HACIA"])["VOLUMEN [BBLS] (Aforo) "].sum()

C:\Users\HP\AppData\Local\Temp\ipykernel_27236\2552441888.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  alma_bbls["VOLUMEN [BBLS] (Aforo) "] = alma_bbls["VOLUMEN [BBLS] (Aforo) "].apply(lambda x: x*42)

In [266]:
# Crear un DataFrame vacío con las filas 'TK101' a 'TK108' y columnas 'E', 'S'
tanques = ['TK101', 'TK102', 'TK103', 'TK104', 'TK105', 'TK106', 'TK107', 'TK108']
columnas = ['E', 'S']
df = pd.DataFrame(index=tanques, columns=columnas)
df = df.fillna(0)

# Iterar sobre los datos agrupados y llenar el DataFrame
for (tipo, desde, hacia), valor in report_sicom.items():
    if tipo == 'E':
        df.at[hacia, 'E'] += valor
    elif tipo == 'S':
        df.at[desde, 'S'] += valor
    elif tipo == 'N':
        df.at[hacia, 'E'] += valor
        df.at[desde, 'S'] += valor

print(df)

                E           S
TK101   598751.16   537099.78
TK102  1103130.84  1125227.04
TK103   832354.32   799956.36
TK104   204309.00   202756.26
TK105    96435.36    88138.68
TK106   390878.04   237996.36
TK107        0.00        0.00
TK108   413976.78   320549.46

C:\Users\HP\AppData\Local\Temp\ipykernel_27236\635394671.py:5: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.fillna(0)
C:\Users\HP\AppData\Local\Temp\ipykernel_27236\635394671.py:10: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '413976.77999999985' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[hacia, 'E'] += valor
C:\Users\HP\AppData\Local\Temp\ipykernel_27236\635394671.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '36647.09999999996' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[desde, 'S'] += valor

# REPORTE VIGIA

###  1. VEHICULOS

In [267]:
vigia = res_op_mens
op_ctk = {"CTK - TK", "CTK - BCZA", "RR - CTK", "CTK - RR", "BCZA - CTK", "TK - CTK"}
vigia_vehiculos = vigia[vigia["TIPO DE OPERACIÓN DE TRASIEGO"].isin(op_ctk)]

In [268]:
# variables y constantes del nuevo reporte
municipio = 13001
ultimo_consecutivo = 4158
vagones = 0 
vagones_2 = 0
consecutivo = ultimo_consecutivo+1
clave = "SPDIQUE"

fecha_actual = datetime.now()
fecha_transmision = fecha_actual.replace(day = 1) - timedelta(days= 1)
primer_dia = fecha_transmision.replace(day=1)
dias_totales_mes_anterior = fecha_transmision - primer_dia
dias_totales_mes_anterior = dias_totales_mes_anterior.days + 1
fecha_transmision = fecha_transmision.strftime("%d/%m/%Y")
primer_dia = primer_dia.strftime("%d/%m/%Y")

In [269]:
vigia_vehiculos = vigia_vehiculos[["TIPO DE OPERACIÓN [E/S/N]", "NO VEHICULOS", "PESO [TON]"]]
vigia_vehiculos["NO VEHICULOS"] = vigia_vehiculos["NO VEHICULOS"].astype("int")
vigia_vehiculos.set_index(pd.Index(range(consecutivo, consecutivo+len(vigia_vehiculos))), inplace= True)

In [270]:
vigia_vehiculos.insert(0,"MUNICIPIO",municipio)
vigia_vehiculos.insert(2,"VAGONES",vagones)
vigia_vehiculos.insert(3,"VAGONES_2",vagones_2)
vigia_vehiculos.insert(6,"CLAVE",clave)
vigia_vehiculos.insert(7,"fecha_transmision", fecha_transmision)
vigia_vehiculos.head()

,MUNICIPIO,TIPO DE OPERACIÓN [E/S/N],VAGONES,VAGONES_2,NO VEHICULOS,PESO [TON],CLAVE,fecha_transmision
4159,13001,E,0,0,19,650.17,SPDIQUE,31/05/2024
4160,13001,E,0,0,54,1808.31,SPDIQUE,31/05/2024
4161,13001,E,0,0,2,66.95,SPDIQUE,31/05/2024
4162,13001,E,0,0,21,704.59,SPDIQUE,31/05/2024
4163,13001,E,0,0,6,200.69,SPDIQUE,31/05/2024

Exportar archivo vehículos

In [271]:
carpeta = r"C:\Users\HP\OneDrive - ZONA FRANCA INDUSTRIAL DE BIENES SERV DE CARTAGENA\Sociedad Portuaria del Dique\Trabajo en nube\Manuel Angulo\Reportes a Autoridades\VIGIA\2024\MAYO"
archivo = "vehículos.txt"
ruta_completa = f'{carpeta}/{archivo}'
vigia_vehiculos.to_csv(ruta_completa, sep=",", index=True, header= False)

### 2. TERRESTRE

In [272]:
vigia_terrestre = vigia[vigia["TIPO DE OPERACIÓN DE TRASIEGO"].isin(op_ctk)]

In [273]:
nit_sin_digito = 806012654
codigo_puerto = 4
vigia_terrestre = vigia_terrestre[["FECHA INICIAL", "FECHA FINAL"]]
vigia_terrestre["FECHA INICIAL"] = vigia_terrestre["FECHA INICIAL"].dt.strftime("%d/%m/%Y")
vigia_terrestre["FECHA FINAL"] = pd.to_datetime(vigia_terrestre["FECHA FINAL"])
vigia_terrestre["FECHA FINAL"] = vigia_terrestre["FECHA FINAL"].dt.strftime("%d/%m/%Y")

In [274]:
vigia_terrestre.insert(0,"nit_sin_digito",nit_sin_digito)
vigia_terrestre.insert(1,"codigo_puerto",codigo_puerto)
vigia_terrestre.set_index(pd.Index(range(consecutivo, consecutivo+len(vigia_terrestre))), inplace= True)
vigia_terrestre["consecutivo"] = vigia_terrestre.index
vigia_terrestre.insert(5,"CLAVE",clave)
vigia_terrestre.insert(6,"fecha_transmision", fecha_transmision)
vigia_terrestre.head()

,nit_sin_digito,codigo_puerto,FECHA INICIAL,FECHA FINAL,consecutivo,CLAVE,fecha_transmision
4159,806012654,4,01/05/2024,01/05/2024,4159,SPDIQUE,31/05/2024
4160,806012654,4,01/05/2024,01/05/2024,4160,SPDIQUE,31/05/2024
4161,806012654,4,02/05/2024,02/05/2024,4161,SPDIQUE,31/05/2024
4162,806012654,4,02/05/2024,02/05/2024,4162,SPDIQUE,31/05/2024
4163,806012654,4,02/05/2024,02/05/2024,4163,SPDIQUE,31/05/2024

Exportar archivo terrestre

In [275]:
carpeta = r"C:\Users\HP\OneDrive - ZONA FRANCA INDUSTRIAL DE BIENES SERV DE CARTAGENA\Sociedad Portuaria del Dique\Trabajo en nube\Manuel Angulo\Reportes a Autoridades\VIGIA\2024\MAYO"
archivo = "terrestre.txt"
ruta_completa = f'{carpeta}/{archivo}'
vigia_terrestre.to_csv(ruta_completa, sep=",", index=False, header= False)

### PRODUCTO

In [276]:
ult_consecutivo_producto = 9684
consecutivo_producto = ult_consecutivo_producto + 1 
trafico = 2 
tipo_carga = 4 
tipo_grupo_producto = 4 
tipo_producto = "084"
tipo_embalaje = 17
und_contenedor = 0  
tipo_clase_carga = 2
pais = 1

In [277]:
ops_bcza = {"CTK - BCZA", "BCZA - CTK", "TK - BCZA", "BCZA -RR", "BCZA - BCZA", "BCZA - TK"}
vigia_producto = vigia[(vigia["TIPO DE OPERACIÓN DE TRASIEGO"].isin(ops_bcza)) & (vigia["CLIENTE "] != "Impala")]
vigia_producto = vigia_producto[["TIPO DE OPERACIÓN DE TRASIEGO", "PESO [TON]"]]
vigia_producto.set_index(pd.Index(range(consecutivo_producto, consecutivo_producto+len(vigia_producto))), inplace= True)

In [278]:
vigia_producto.insert(0,"TRAFICO", trafico)
vigia_producto.insert(1,"TIPO CARGA", tipo_carga)
vigia_producto.insert(2,"TIPO GRUPO PRODUCTO", tipo_grupo_producto)
vigia_producto.insert(3,"TIPO PRODUCTO", tipo_producto)

In [279]:
ops_bcza_cargue = {"CTK - BCZA", "TK - BCZA", "BCZA - BCZA"}
vigia_producto["TIPO DE OPERACIÓN DE TRASIEGO"] = vigia_producto["TIPO DE OPERACIÓN DE TRASIEGO"].apply(lambda x: 7 if x in ops_bcza_cargue else 8)

In [280]:
vigia_producto.insert(5, "TIPO EMBALAJE", tipo_embalaje)
vigia_producto.insert(6, "UND CONTENEDOR", und_contenedor)
vigia_producto.insert(7, "TIPO CLASE DE CARGA", tipo_clase_carga)

In [281]:
vigia_producto["CARGUE / DESCARGUE"] = vigia_producto["TIPO DE OPERACIÓN DE TRASIEGO"].apply(lambda x: 1 if x==7 else 2)
columna_cargue_descargue = vigia_producto.pop("CARGUE / DESCARGUE")
vigia_producto.insert(8, "CARGUE / DESCARGUE", columna_cargue_descargue)

In [282]:
vigia_producto.insert(9, "PAIS", pais)

In [283]:
vigia_producto.insert(11,"CLAVE", clave)
vigia_producto.insert(12, "FECHA TRANSMISION", fecha_transmision)
vigia_producto["PESO [TON]"] = vigia_producto["PESO [TON]"].round(2)
vigia_producto.head()

,TRAFICO,TIPO CARGA,TIPO GRUPO PRODUCTO,TIPO PRODUCTO,TIPO DE OPERACIÓN DE TRASIEGO,TIPO EMBALAJE,UND CONTENEDOR,TIPO CLASE DE CARGA,CARGUE / DESCARGUE,PAIS,PESO [TON],CLAVE,FECHA TRANSMISION
9685,2,4,4,084,7,17,0,2,1,1,650.17,SPDIQUE,31/05/2024
9686,2,4,4,084,7,17,0,2,1,1,1808.31,SPDIQUE,31/05/2024
9687,2,4,4,084,7,17,0,2,1,1,66.95,SPDIQUE,31/05/2024
9688,2,4,4,084,7,17,0,2,1,1,704.59,SPDIQUE,31/05/2024
9689,2,4,4,084,7,17,0,2,1,1,200.69,SPDIQUE,31/05/2024

Exportar este data frame de producto

In [284]:
carpeta = r"C:\Users\HP\OneDrive - ZONA FRANCA INDUSTRIAL DE BIENES SERV DE CARTAGENA\Sociedad Portuaria del Dique\Trabajo en nube\Manuel Angulo\Reportes a Autoridades\VIGIA\2024\MAYO"
archivo = "productos.txt"
ruta_completa = f'{carpeta}/{archivo}'
vigia_producto.to_csv(ruta_completa, sep=",", index=True, header= False)

### OPERACIONES

In [285]:
vigia_operaciones = vigia[(vigia["TIPO DE OPERACIÓN DE TRASIEGO"].isin(ops_bcza)) & (vigia["CLIENTE "] != "Impala")]
vigia_operaciones = vigia_operaciones[["FECHA INICIAL", "FECHA FINAL", "TIEMPO DE OPERACIÓN [HRS]", "TIPO DE OPERACIÓN DE TRASIEGO", "CLIENTE ", "DESDE", "HACIA"]]

In [286]:
# Constantes
puesto_atraque = 1
servicio = 1
tiempo_no_laborado = 0
tiempo_pilotaje = 0
cod_causa = 0
tipo_sub_grup = 0
tipo_cod_causa = 0

In [287]:
vigia_operaciones["FECHA INICIAL"] = vigia_operaciones["FECHA INICIAL"].dt.strftime("%d/%m/%Y")
vigia_operaciones["FECHA FINAL"] = pd.to_datetime(vigia_operaciones["FECHA FINAL"])
vigia_operaciones["FECHA FINAL"] = vigia_operaciones["FECHA FINAL"].dt.strftime("%d/%m/%Y")

In [288]:
vigia_operaciones.insert(0, "NIT SIN DIGITO", nit_sin_digito)
vigia_operaciones.insert(1, "CODIGO PUERTO", codigo_puerto)
vigia_operaciones.insert(2, "PUESTO DE ATRAQUE", puesto_atraque)

In [289]:
vigia_operaciones["HACIA"].value_counts()

HACIA
BARCAZA CR            33
Oiltech I             15
BARCAZA URABÁ         15
Alcaman               10
TRATANK 52             4
BARCAZA ARQUIMEDES     4
TK108                  4
TK102                  2
Alpha Dos              2
TK106                  2
Tratank 02             1
TK103                  1
Name: count, dtype: int64

In [290]:
vigia_operaciones["DESDE"].value_counts()

DESDE
CARROTANQUES          44
TK102                  9
TK101                  7
TK103                  6
TK108                  4
BARCAZA ARQUIMEDES     4
BARCAZA URABÁ          3
Oiltech I              2
BARCAZA MARGOTH P6     2
TK105                  2
TK106                  2
Magfuel 2              2
MARGOTH P6             2
TK104                  1
BARCAZA CR             1
BARCAZA CR             1
Alcaman                1
Name: count, dtype: int64

In [291]:
diccionario_artefactos_navieros = {
    'Alcaman': {'OMI': 50127, 'Calado': 3.32},
    'BARCAZA CR': {'OMI': 9773416, 'Calado': 2.93},
    'Oiltech I': {'OMI': 50172, 'Calado': 2.97},
    'BARCAZA URABÁ': {'OMI': 30133, 'Calado': 3.32},
    'TRATANK 52': {'OMI': 30251, 'Calado': 3.35},
    'BARCAZA ARQUIMEDES': {'OMI': 5676, 'Calado': 2.1},
    'Alpha Dos': {'OMI': 7986, 'Calado': 1.54},
    'Tratank 02': {'OMI': 30150, 'Calado': 3.35},
    'MARGOTH P6': {'OMI': 30115, 'Calado': 1.53},
    'Magfuel 2': {'OMI': 30268, 'Calado': 1.85}
}

In [292]:
# Función para obtener el número IMO
def obtener_numero_imo(nombre_artefacto, fila):
    if nombre_artefacto in diccionario_artefactos_navieros:
        return diccionario_artefactos_navieros[nombre_artefacto]["OMI"]
    elif vigia_operaciones.at[fila, 'DESDE'] in diccionario_artefactos_navieros:
        return diccionario_artefactos_navieros[vigia_operaciones.at[fila, 'DESDE']]["OMI"]
    else:
        return None

In [293]:
# Función para obtener el CALADO
def obtener_calado(nombre_artefacto, fila):
    if nombre_artefacto in diccionario_artefactos_navieros:
        return diccionario_artefactos_navieros[nombre_artefacto]["Calado"]
    elif vigia_operaciones.at[fila, 'DESDE'] in diccionario_artefactos_navieros:
        return diccionario_artefactos_navieros[vigia_operaciones.at[fila, 'DESDE']]["Calado"]
    else:
        return None

In [294]:
vigia_operaciones['OMI'] = vigia_operaciones.apply(lambda row: obtener_numero_imo(row['HACIA'], row.name), axis=1)
vigia_operaciones['Calado'] = vigia_operaciones.apply(lambda row: obtener_calado(row['HACIA'], row.name), axis=1)

In [295]:
columna_omi = vigia_operaciones.pop("OMI")
vigia_operaciones.insert(5, "OMI", columna_omi)

In [296]:
vigia_operaciones["CLIENTE "].value_counts()

CLIENTE
Atlantic Marine             29
Caribbean Word Trade        19
Fuel and bunker Colombia    15
Octano Industrial           13
Caribbean Bunker             8
TRAFIGURA                    5
Prodexport                   4
Name: count, dtype: int64

In [297]:
diccionario_navieros = {
    'Atlantic Marine': {'nit_naviero': 9006144232, 'nit_operador_sin_digito': 9006144232},
    'Caribbean Word Trade': {'nit_naviero': 9013129603, 'nit_operador_sin_digito': 900949195},
    'Fuel and bunker Colombia': {'nit_naviero': 9012220501, 'nit_operador_sin_digito': 900949195},
    'Octano Industrial': {'nit_naviero': 9011235498, 'nit_operador_sin_digito': 900949195},
    'Caribbean Bunker': {'nit_naviero': 9003289140, 'nit_operador_sin_digito': 806012654},
    'TRAFIGURA ': {'nit_naviero': 9005850678, 'nit_operador_sin_digito': 806012654},
    'Prodexport': {'nit_naviero': 900992281, 'nit_operador_sin_digito': 806014007}
}

In [298]:
def obtener_nit_naviero(nombre_naviero):
    nombre_naviero = str(nombre_naviero)
    if nombre_naviero in diccionario_navieros:
        return diccionario_navieros[nombre_naviero]["nit_naviero"]
    else:
        return None

In [299]:
vigia_operaciones['nit_naviero'] = vigia_operaciones["CLIENTE "].apply(obtener_nit_naviero)

In [300]:
columna_nit_naviero = vigia_operaciones.pop("nit_naviero")
columna_calado = vigia_operaciones.pop("Calado")
vigia_operaciones.insert(6, "nit_naviero", columna_nit_naviero)
vigia_operaciones.insert(7, "Calado", columna_calado)
vigia_operaciones.insert(8,"SERVICIO", servicio)

In [301]:
def obtener_nit_operador_sin_digito(nombre_naviero):
    nombre_naviero = str(nombre_naviero)
    if nombre_naviero in diccionario_navieros:
        return diccionario_navieros[nombre_naviero]["nit_operador_sin_digito"]
    else:
        return None

In [302]:
vigia_operaciones['nit_operador_sin_digito'] = vigia_operaciones["CLIENTE "].apply(obtener_nit_operador_sin_digito)

In [303]:
columna_nit_operador_sin_digito = vigia_operaciones.pop("nit_operador_sin_digito")
vigia_operaciones.insert(9, "nit_operador_sin_digito", columna_nit_operador_sin_digito)

In [304]:
vigia_operaciones = vigia_operaciones.drop(["CLIENTE ", "DESDE", "HACIA", "TIPO DE OPERACIÓN DE TRASIEGO"], axis= 1)

In [305]:
vigia_operaciones["tiempo_no_laborado"] = tiempo_no_laborado
vigia_operaciones["tiempo_pilotaje"] = tiempo_pilotaje
vigia_operaciones["clave"] = clave
vigia_operaciones["fecha_transmision"] = fecha_transmision
vigia_operaciones["codigo_causa_int"] = cod_causa
vigia_operaciones["tipo_sub_grupo"] = tipo_sub_grup
vigia_operaciones["tipo_codigo_causa_int"] = tipo_cod_causa
vigia_operaciones["TIEMPO DE OPERACIÓN [HRS]"] = vigia_operaciones["TIEMPO DE OPERACIÓN [HRS]"].astype(float)
vigia_operaciones["TIEMPO DE OPERACIÓN [HRS]"] = vigia_operaciones["TIEMPO DE OPERACIÓN [HRS]"].round(2)
vigia_operaciones.head()

,NIT SIN DIGITO,CODIGO PUERTO,PUESTO DE ATRAQUE,FECHA INICIAL,FECHA FINAL,OMI,nit_naviero,Calado,SERVICIO,nit_operador_sin_digito,TIEMPO DE OPERACIÓN [HRS],tiempo_no_laborado,tiempo_pilotaje,clave,fecha_transmision,codigo_causa_int,tipo_sub_grupo,tipo_codigo_causa_int
3499,806012654,4,1,01/05/2024,01/05/2024,50172,9012220501,2.97,1,900949195,3.67,0,0,SPDIQUE,31/05/2024,0,0,0
3500,806012654,4,1,01/05/2024,01/05/2024,30251,9005850678,3.35,1,806012654,7.58,0,0,SPDIQUE,31/05/2024,0,0,0
3502,806012654,4,1,02/05/2024,02/05/2024,30251,9005850678,3.35,1,806012654,0.48,0,0,SPDIQUE,31/05/2024,0,0,0
3503,806012654,4,1,02/05/2024,02/05/2024,30251,9005850678,3.35,1,806012654,3.17,0,0,SPDIQUE,31/05/2024,0,0,0
3504,806012654,4,1,02/05/2024,02/05/2024,30150,9005850678,3.35,1,806012654,1.25,0,0,SPDIQUE,31/05/2024,0,0,0

In [306]:
carpeta = r"C:\Users\HP\OneDrive - ZONA FRANCA INDUSTRIAL DE BIENES SERV DE CARTAGENA\Sociedad Portuaria del Dique\Trabajo en nube\Manuel Angulo\Reportes a Autoridades\VIGIA\2024\MAYO"
archivo = "operaciones.txt"
ruta_completa = f'{carpeta}/{archivo}'
vigia_operaciones.to_csv(ruta_completa, sep=",", index=False, header=False)

### NAVES

In [307]:
vigia_naves = vigia_operaciones[["NIT SIN DIGITO", "CODIGO PUERTO", "PUESTO DE ATRAQUE", "FECHA INICIAL", "FECHA FINAL", "OMI", "nit_naviero", "nit_operador_sin_digito"]]

In [308]:
vigia_naves["consecutivo"] = vigia_producto.index

C:\Users\HP\AppData\Local\Temp\ipykernel_27236\1207527385.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vigia_naves["consecutivo"] = vigia_producto.index

In [309]:
vigia_naves["CLAVE"] = clave
vigia_naves["FECHA TRANSMISION"] = fecha_transmision
vigia_naves["FECHA INICIO FONDEO"] = fecha_transmision
vigia_naves["HORA INICIO FONDEO"] = "00:00"
vigia_naves["FECHA FINAL FONDEO"] = fecha_transmision
vigia_naves["HORA FINAL FONDEO"] = "00:00"
vigia_naves.head()

C:\Users\HP\AppData\Local\Temp\ipykernel_27236\2047586971.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vigia_naves["CLAVE"] = clave
C:\Users\HP\AppData\Local\Temp\ipykernel_27236\2047586971.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vigia_naves["FECHA TRANSMISION"] = fecha_transmision
C:\Users\HP\AppData\Local\Temp\ipykernel_27236\2047586971.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vigia_naves["FECHA INICIO FONDEO"] = fecha_transmision
C:\Users\HP\AppData\Local\Temp\ipykernel_27236\2047586971.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vigia_naves["HORA INICIO FONDEO"] = "00:00"
C:\Users\HP\AppData\Local\Temp\ipykernel_27236\2047586971.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vigia_naves["FECHA FINAL FONDEO"] = fecha_transmision
C:\Users\HP\AppData\Local\Temp\ipykernel_27236\2047586971.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vigia_naves["HORA FINAL FONDEO"] = "00:00"

,NIT SIN DIGITO,CODIGO PUERTO,PUESTO DE ATRAQUE,FECHA INICIAL,FECHA FINAL,OMI,nit_naviero,nit_operador_sin_digito,consecutivo,CLAVE,FECHA TRANSMISION,FECHA INICIO FONDEO,HORA INICIO FONDEO,FECHA FINAL FONDEO,HORA FINAL FONDEO
3499,806012654,4,1,01/05/2024,01/05/2024,50172,9012220501,900949195,9685,SPDIQUE,31/05/2024,31/05/2024,00:00,31/05/2024,00:00
3500,806012654,4,1,01/05/2024,01/05/2024,30251,9005850678,806012654,9686,SPDIQUE,31/05/2024,31/05/2024,00:00,31/05/2024,00:00
3502,806012654,4,1,02/05/2024,02/05/2024,30251,9005850678,806012654,9687,SPDIQUE,31/05/2024,31/05/2024,00:00,31/05/2024,00:00
3503,806012654,4,1,02/05/2024,02/05/2024,30251,9005850678,806012654,9688,SPDIQUE,31/05/2024,31/05/2024,00:00,31/05/2024,00:00
3504,806012654,4,1,02/05/2024,02/05/2024,30150,9005850678,806012654,9689,SPDIQUE,31/05/2024,31/05/2024,00:00,31/05/2024,00:00

In [310]:
carpeta = r"C:\Users\HP\OneDrive - ZONA FRANCA INDUSTRIAL DE BIENES SERV DE CARTAGENA\Sociedad Portuaria del Dique\Trabajo en nube\Manuel Angulo\Reportes a Autoridades\VIGIA\2024\MAYO"
archivo = "naves.txt"
ruta_completa = f'{carpeta}/{archivo}'
vigia_naves.to_csv(ruta_completa, sep=",", index=False, header=False)

#### SE DEBE CONTRASTAR LAS HORAS DE ARRIBO Y ZARPE DE ESTE UTLIMO FORMATO CON EL REGISTRO DE MOVIMIENTO

### VIGIA ALMACENAMIENTO

In [311]:
vigia_alma = alma
vigia_alma = alma.groupby(["TIPO DE OPERACIÓN [E/S/N]","DESDE", "HACIA"])["PESO [TON]"].sum()

In [312]:
# Crear un DataFrame vacío con las filas 'TK101' a 'TK108' y columnas 'E', 'S'
tanques = ['TK101', 'TK102', 'TK103', 'TK104', 'TK105', 'TK106', 'TK107', 'TK108']
columnas = ['E', 'S']
df = pd.DataFrame(index=tanques, columns=columnas)
df = df.fillna(0)

# Iterar sobre los datos agrupados y llenar el DataFrame
for (tipo, desde, hacia), valor in vigia_alma.items():
    if tipo == 'E':
        df.at[hacia, 'E'] += valor
    elif tipo == 'S':
        df.at[desde, 'S'] += valor
    elif tipo == 'N':
        df.at[hacia, 'E'] += valor
        df.at[desde, 'S'] += valor

print(df)

                 E            S
TK101  2071.940000  1885.650022
TK102  3868.281912  3940.389712
TK103  2895.604387  2822.300048
TK104   724.470000   706.710000
TK105   313.070000   312.388664
TK106  1259.943149   766.328787
TK107     0.000000     0.000000
TK108  1331.880162  1035.647945

C:\Users\HP\AppData\Local\Temp\ipykernel_27236\2565038785.py:5: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.fillna(0)
C:\Users\HP\AppData\Local\Temp\ipykernel_27236\2565038785.py:10: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1331.880162' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[hacia, 'E'] += valor
C:\Users\HP\AppData\Local\Temp\ipykernel_27236\2565038785.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '128.43935999999985' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[desde, 'S'] += valor

In [313]:
df["NIT"] = nit_sin_digito
df["TIPO ALMA"] = 6
df["Codigo puerto"] = codigo_puerto
df["FECHA FINAL"] = fecha_transmision
df["FECHA INICIO"] = primer_dia
df["tiempo_permanencia"] = dias_totales_mes_anterior*24
df["USUARIO"] = clave
df["FECHA TRANSMISION"] = fecha_transmision
df.head(8)

,E,S,NIT,TIPO ALMA,Codigo puerto,FECHA FINAL,FECHA INICIO,tiempo_permanencia,USUARIO,FECHA TRANSMISION
TK101,2071.940000,1885.650022,806012654,6,4,31/05/2024,01/05/2024,744,SPDIQUE,31/05/2024
TK102,3868.281912,3940.389712,806012654,6,4,31/05/2024,01/05/2024,744,SPDIQUE,31/05/2024
TK103,2895.604387,2822.300048,806012654,6,4,31/05/2024,01/05/2024,744,SPDIQUE,31/05/2024
TK104,724.470000,706.710000,806012654,6,4,31/05/2024,01/05/2024,744,SPDIQUE,31/05/2024
TK105,313.070000,312.388664,806012654,6,4,31/05/2024,01/05/2024,744,SPDIQUE,31/05/2024
TK106,1259.943149,766.328787,806012654,6,4,31/05/2024,01/05/2024,744,SPDIQUE,31/05/2024
TK107,0.000000,0.000000,806012654,6,4,31/05/2024,01/05/2024,744,SPDIQUE,31/05/2024
TK108,1331.880162,1035.647945,806012654,6,4,31/05/2024,01/05/2024,744,SPDIQUE,31/05/2024

In [314]:
secuencia = list(range(101, 109))
df['bodega'] = secuencia

In [315]:
df = df[["NIT", "TIPO ALMA", "Codigo puerto", "bodega", "FECHA INICIO", "FECHA FINAL", "E", "S", "tiempo_permanencia", "USUARIO", "FECHA TRANSMISION"]]

In [316]:
nuevo_registro = pd.DataFrame({"NIT": nit_sin_digito, 
                                "TIPO ALMA": [2], 
                                "Codigo puerto": codigo_puerto, 
                                "bodega": [100], 
                                "FECHA INICIO": primer_dia, 
                                "FECHA FINAL": fecha_transmision, 
                                "E": [0], 
                                "S": [0], 
                                "tiempo_permanencia": [dias_totales_mes_anterior*24], 
                                "USUARIO": clave, 
                                "FECHA TRANSMISION": fecha_transmision})

# Concatenar el nuevo registro con el DataFrame existente
df = pd.concat([df, nuevo_registro], ignore_index=True)
df.head(9)

,NIT,TIPO ALMA,Codigo puerto,bodega,FECHA INICIO,FECHA FINAL,E,S,tiempo_permanencia,USUARIO,FECHA TRANSMISION
0,806012654,6,4,101,01/05/2024,31/05/2024,2071.940000,1885.650022,744,SPDIQUE,31/05/2024
1,806012654,6,4,102,01/05/2024,31/05/2024,3868.281912,3940.389712,744,SPDIQUE,31/05/2024
2,806012654,6,4,103,01/05/2024,31/05/2024,2895.604387,2822.300048,744,SPDIQUE,31/05/2024
3,806012654,6,4,104,01/05/2024,31/05/2024,724.470000,706.710000,744,SPDIQUE,31/05/2024
4,806012654,6,4,105,01/05/2024,31/05/2024,313.070000,312.388664,744,SPDIQUE,31/05/2024
5,806012654,6,4,106,01/05/2024,31/05/2024,1259.943149,766.328787,744,SPDIQUE,31/05/2024
6,806012654,6,4,107,01/05/2024,31/05/2024,0.000000,0.000000,744,SPDIQUE,31/05/2024
7,806012654,6,4,108,01/05/2024,31/05/2024,1331.880162,1035.647945,744,SPDIQUE,31/05/2024
8,806012654,2,4,100,01/05/2024,31/05/2024,0.000000,0.000000,744,SPDIQUE,31/05/2024

In [317]:
df["E"] = df["E"].round(2)
df["S"] = df["S"].round(2)

In [318]:
carpeta = r"C:\Users\HP\OneDrive - ZONA FRANCA INDUSTRIAL DE BIENES SERV DE CARTAGENA\Sociedad Portuaria del Dique\Trabajo en nube\Manuel Angulo\Reportes a Autoridades\VIGIA\2024\MAYO"
archivo = "alma.txt"
ruta_completa = f'{carpeta}/{archivo}'
df.to_csv(ruta_completa, sep=",", index=False, header=False)

# INDICADORES PARA SISTEMA DE GESTIÓN

In [319]:
#RENDIMIENTO DE COMBUSTIBLE
sgi_data = res_op_mens
r_combustible = sgi_data["EFICIENCIA [TON/GAL]"]
r_combustible = r_combustible.dropna()
r_combustible.mean().round(2)

74.57

In [323]:
#RENDIMIENTO TASA DE BOMBEO SEGÚN EQUIPO DE BOMBEO
r_combustible = sgi_data[["TASA DE BOMBEO REAL", "EQUIPO DE BOMBEO"]]
r_combustible = r_combustible.groupby("EQUIPO DE BOMBEO")["TASA DE BOMBEO REAL"].mean().round(2)
r_combustible

EQUIPO DE BOMBEO
2.0    133.39
4.0    139.81
6.0    107.77
Name: TASA DE BOMBEO REAL, dtype: float64

In [321]:
#RENDIMIENTO LABORAL PERSONAL OPERATIVO [TON/HR]
carga_lab = sgi_data[["PESO [TON]", "HORAS HOMBRE USADAS"]]
carga_lab = carga_lab.dropna(axis=0)
(carga_lab["PESO [TON]"].sum()/carga_lab["HORAS HOMBRE USADAS"].sum()).round(2)

69.1

In [322]:
#TONELADAS MOVILIZADAS POR TIPO DE OPERACIÓN
ton_top = sgi_data[["PESO [TON]", "TIPO DE OPERACIÓN DE TRASIEGO"]]
ton_top = ton_top.groupby("TIPO DE OPERACIÓN DE TRASIEGO")["PESO [TON]"].sum().round(2)
ton_top.sort_values(ascending=False)

TIPO DE OPERACIÓN DE TRASIEGO
TK - BCZA      11148.32
CTK - BCZA     10864.10
CTK - TK        9911.22
BCZA - BCZA     3230.00
BCZA - TK       2232.87
TK - TK          321.10
CTK - RR          70.76
RR - CTK           1.59
BBLS - RR          0.00
BCZA -RR           0.00
Name: PESO [TON], dtype: float64

In [326]:
#RENDIMIENTO DE COMBUSTIBLE POR TIPO DE OPERACIÓN
ton_top = sgi_data[["EFICIENCIA [TON/GAL]", "TIPO DE OPERACIÓN DE TRASIEGO"]]
ton_top = ton_top.groupby("TIPO DE OPERACIÓN DE TRASIEGO")["EFICIENCIA [TON/GAL]"].mean().round(2)
ton_top.sort_values(ascending=False)

TIPO DE OPERACIÓN DE TRASIEGO
TK - BCZA      106.90
CTK - BCZA      67.83
CTK - TK        63.62
BCZA - TK       40.51
BBLS - RR         NaN
BCZA - BCZA       NaN
BCZA -RR          NaN
CTK - RR          NaN
RR - CTK          NaN
TK - TK           NaN
Name: EFICIENCIA [TON/GAL], dtype: float64